.header {
	height: 100%;
}
//AD ....................................................
.ad {
	height: 35px;
	width: 100%;
	background-image: url('../../public/images/Ad.png');
	background-size: cover;
	background-repeat: none;
	background-position: 50% 50%;
}

//Top ....................................................
.top {
	background: $dark-blue;
	color: $white;
	&_container {
		max-width: 95%;
		margin: 0 auto;
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo {
			img {
				width: 50px;
			}
		}
	}

	&_list {
		display: flex;
		gap: 15px;
		.li {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 6px;
			cursor: pointer;
			.flex {
				display: flex;
				align-items: center;
				gap: 5px;
			}
			img {
				width: 28px;
				height: 28px;
				object-fit: cover;
				border-radius: 50%;
			}
			svg {
				width: 15px;
				height: 15px;
				fill: $white;
			}
			span {
				font-size: 12px;
			}
			&::after {
				content: '';
				position: absolute;
				right: -10px;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 20px;
				background: #ccc;
			}
			&:last-of-type {
				&::after {
					display: none;
				}
			}
			&:hover {
				span {
					color: $yellow;
				}
				svg {
					fill: $yellow;
				}
			}
			@media (max-width: 670px) {
				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4) {
					display: none;
				}
			}
		}
	}
}
.menu {
	color: $black;
	width: 250px;
	position: absolute;
	background-color: $white;
	top: 100%;
	right: 0;
	box-shadow: -5px 10px 30px #888888;
	z-index: 99;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 5px;
	border-radius: 7px;
	h4 {
		text-align: center;
	}
	.flex {
		display: flex;
		gap: 10px !important;
		width: 100%;
		padding: 10px;
	}
	.line {
		border: 2px solid $dark-blue;
	}
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		background-color: $dark-blue;
		color: $white;
		border-radius: 5px;
		font-weight: 600;
		cursor: pointer;
		width: 100%;
		&:hover {
			background-color: $yellow;
			color: $dark-blue;
			transition-delay: 0.1s;
		}
	}
	ul {
		li {
			height: 30px;
			a {
				width: 100%;
				padding-left: 10px;
			}
			&:hover {
				background: #e3e1e1;
				border-radius: 10px;
			}
		}
	}
	&_img {
		width: 100px !important;
		height: 100px !important;
		border-radius: 50%;
	}
	.col {
		display: flex;
		flex-direction: column;
		span {
			color: $black;
			&:last-of-type {
				font-size: 15px;
				color: $dark-blue;
				text-decoration: underline;
				&:hover {
					font-size: 17px;
				}
			}
		}
	}
}
.main {
	position: relative;
	height: 50px;
	display: flex;
	align-items: center;
	box-shadow: -5px 10px 30px #888888;
	&__container {
		max-width: 1300px;
		margin: 0 auto;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		width: 100%;
	}
	.rightSide {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
	.category {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 60px;
		background-color: $dark-blue;
		margin-top: 18px;
		padding: 2px 30px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		color: $white;
		span {
			font-size: 15px;
		}
	}
	.search {
		display: flex;
		align-items: center;
		flex: 1;
		background-color: $light-gray;
		height: 35px;
		border-radius: 5px;
		color: $white;
		input {
			border: none;
			outline: none;
			width: 350px;
			height: 100%;
			background: transparent;
			padding: 6px;
		}
		&__icon {
			width: 50px;
			height: 100%;
			background-color: $dark-blue;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			cursor: pointer;
			display: grid;
			place-items: center;
			color: $white;
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
	.icons {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		margin: 5px;
		svg {
			width: 20px;
			height: 20px;
			&:hover {
				fill: $yellow;
			}
		}
		&__cart {
			position: absolute;
			top: -5px;
			right: 25px;
			background: $dark-blue;
			width: 15px;
			height: 15px;
			font-size: 12px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
		}
		&__wishlist {
			position: absolute;
			top: -5px;
			right: -10px;
			background: $dark-blue;
			width: 15px;
			height: 15px;
			font-size: 12px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
		}
	}
	@media (max-width: 870px) {
		.category {
			display: none;
		}
		.rightSide {
			margin: 0 auto;
		}
	}
}
