.footer {
	background-color: $light-gray;
	&__container {
		position: relative;
		width: 100%;
		display: grid;
		gap: 5px;
		padding: 20px;
		color: aqua;
	}
	img {
		background-color: $dark_blue;
		border-radius: 50%;
		width: 50px;
		height: 50px;
	}
	&__links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		ul {
			padding: 7px;
			font-size: 15px;
			li {
				font-size: 12px;
			}
			a {
				line-height: 23px;
				color: gray;
				&:hover {
					text-decoration: underline;
					color: $black;
				}
			}
		}
		@media (max-width: 350px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.socialMedia {
	background-color: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__links {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	svg {
		width: 25px;
		height: 25px;
		margin: 5px;
		cursor: pointer;
		background-color: $light-gray;
		border-radius: 5px;
	}
	span {
		font-size: 12px;
	}
}

.newsLetter {
	background-color: $dark_blue;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px 15px;
	.text {
		color: $white;
		span {
			color: $yellow;
		}
	}
	.input {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 60%;
		width: 100%;
		// max-width: 600px;
		height: 40px;
		outline: none;
		font-size: 14px;
		input {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			outline: none;
			height: 100%;
			width: 50%;
			padding: 6px;
		}
	}
	button {
		background-color: $yellow;
		color: $black;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		font-weight: 600;
		cursor: pointer;
		width: 100px;
		height: 35px;
		&:hover {
			background-color: $yellow;
			color: $dark-blue;
			transition-delay: 0.1s;
		}
	}
	@media (max-width: 520px) {
		flex-direction: column;
		gap: 30px;
	}
}
