.flashSale {
	margin: 30px 0;
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $dark-blue;
		color: $white;
		padding: 0 20px;
		h2 {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		svg {
			width: 30px;
			height: 30px;
		}
		@media (max-width: 400px) {
			flex-direction: column;
		}
	}
	.main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
		padding: 10px;
		height: 300px;
		.viewBtn {
			svg {
				width: 20px;
				height: 20px;
				color: gray;
			}
			span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100px;
				cursor: pointer;
			}
			&:hover {
				text-decoration: underline;
				color: $dark-blue;
			}
		}
		@media (max-width: 500px) {
			height: 380px;
			flex-direction: column;
		}
	}

	@media (max-width: 600px) {
		h2 {
			font-size: 15px;
		}
		svg {
			width: 15px;
		}
	}
}

.card {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 300px;
	padding: 5px;
	&__img {
		position: relative;
		width: 100%;
		height: 155px;
		cursor: pointer;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		.flash {
			position: absolute;
			top: 0;
			height: 60px;
			left: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: $yellow;
			clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 49% 86%, 0 100%, 0 0);
			svg {
				margin-top: 5px;
			}
			span {
				font-size: 15px;
				padding: 0 5px 5px 5px;
			}
		}
	}
	&__priceSold {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		gap: 30px;
		.price {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			// padding: 0 5px 5px 10px;
			span {
				font-weight: 600;
				font-size: 18px;
				&:first-of-type {
					color: $dark-red;
				}
				&:last-of-type {
					font-size: 15px;
					font-weight: normal;
					text-decoration: line-through;
					color: rgb(118, 118, 118);
				}
			}
		}
		.percentage {
			font-size: 14px;
			color: $black;
		}
	}
	&__sold {
		width: 100%;
		height: 10px;
		border-radius: 10px;
		background-color: gray;
		&_inner {
			background: $yellow;
			width: 75%;
			height: 100%;
			border-radius: 10px;
		}
	}
}
