.category {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-content: center;
	margin: 20px 0;
	border: 1px solid rgb(195, 194, 194);
	border-radius: 10px;
	@media (max-width: 950px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 550px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-right: 1px solid rgb(212, 211, 211);
	border-bottom: 1px solid rgb(212, 211, 211);
	padding: 20px 20px;
	&:last-of-type {
		border-right: none;
	}
	span {
		font-weight: 700;
		font-size: 15px;
	}
	&__product {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		img {
			padding: 10px;
			&:nth-child(2),
			&:nth-child(4) {
				border-left: 1px solid rgb(212, 211, 211);
				height: 150px;
			}
			&:nth-child(2),
			&:nth-child(1) {
				border-bottom: 1px solid rgb(212, 211, 211);
				height: 150px;
			}
		}
	}
	&__viewBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: center;
		svg {
			width: 15px;
			height: 15px;
		}
	}
}
