.countDown {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	background: linear-gradient(
		45deg,
		rgba(114, 125, 208, 1) 12%,
		rgba(203, 208, 254, 1) 55%
	);
	width: 125px;
	margin: 5px 0;
	border-radius: 5px;
	.days {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	span {
		color: $dark-blue;
		font-size: 15px;
		font-weight: 600;
	}
	b {
		color: $dark-blue;
		font-size: 20px;
	}
	@media (max-width: 600px) {
		height: 20px;
		span {
			font-size: 15px;
		}
	}
}
