.cart {
	padding: 16px 10px;
	min-height: 100vh;
	max-width: 1000px;
	margin: 0 auto;
	&__container {
		display: grid;
		padding: 1rem;
		gap: 10px;
		grid-template-areas:
			'header'
			'products'
			'checkout';
		@media ((min-width: 900px)) {
			padding: 16px 20px;
			grid-template-areas:
				'products header'
				'products checkout'
				'products ...';
		}
	}
	&__header {
		grid-area: header;
	}
	&__products {
		grid-area: products;
		// @media ((min-width: 900px)) {
		// 	transform: translateY(-60px);
		// }
	}
	&__checkout {
		grid-area: checkout;
	}
}
