* {
	margin: 0;
	bottom: 0;
	box-sizing: border-box;
	&::after,
	&::before {
		box-sizing: border-box;
	}
}

body {
	font-family: sans-serif;
	line-height: 1.9;
	-webkit-font-smoothing: antialiased; //to make it less sharper
}

button,
input,
textarea,
select {
	font: inherit;
}

//to avoid overflowing the element that the text is written in
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

//to limit the image and the rest to its element
img,
video,
canvas,
svg {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	border: none;
	outline: none;
}
