.login {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: $light-gray;
	&__container {
		max-width: 1000px;
		margin: 0 auto;
		padding: 10px 20px;
		width: 65rem;
		height: auto;
		@media (max-width: 1000px) {
			width: 40rem;
		}
	}

	&__main {
		width: 100%;
		// min-height: 40rem;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		position: relative;
		.close {
			position: absolute;
			top: 15px;
			right: 1rem;
			height: 20px;
			width: 20px;
			border: 2px solid $dark-blue;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
		.left {
			width: 40%;
			height: 100%;
			// padding: 18px 0;
			animation: slide-down 0.5s ease;
			background-color: $light-blue;
			.img1 {
				display: none;
			}
			@media (max-width: 1000px) {
				.img1 {
					display: flex;
				}
			}
		}
		.right {
			position: relative;
			width: 60%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			gap: 30px;
			animation: slide-up 0.5s ease;
			.img1 {
				display: none;
			}
			.form {
				font-size: 1.6rem;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: 10px;
				width: 90%;
				padding: 0 20px;
				.userImg {
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					width: 100px;
					height: 100px;
					border-radius: 50%;
					border: 1px solid $dark-blue;
					cursor: pointer;
					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
					}
					&:hover {
						opacity: 0.5;
					}
					svg {
						position: absolute;
						color: $dark-blue;
						top: 55px;
					}
				}
				.userInput {
					display: none;
				}
				input {
					position: relative;
					outline: none;
					width: 100%;
					padding: 5px;
					font-size: 15px;
				}
				.error {
					color: $dark-red;
					font-size: 15px;
					padding: 0 3px;
					align-self: flex-start;
				}
				.password {
					position: relative;
					width: 100%;
					svg {
						position: absolute;
						top: 1rem;
						right: 0.5rem;
					}
				}

				::placeholder {
					font-size: 17px;
				}

				h4 {
					text-align: center;
					margin: 5px;
				}
				.button {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: $dark-blue;
					color: $white;
					border-radius: 5px;
					cursor: pointer;
					width: 200px;
					margin: 10px auto;
					font-size: 20px;
					&:hover {
						background-color: $yellow;
						color: $dark-blue;
						transition-delay: 0.1s;
					}
				}
			}
			.flex {
				display: flex;
				align-self: flex-start;
				justify-content: flex-start;
				flex-direction: column;
				.text {
					font-size: 15px;
					align-self: flex-start;
					padding: 3px 55px;
					&:hover {
						color: $dark-blue;
						text-decoration: underline;
					}
				}
			}

			.socials {
				margin: 20px 0;
				.btn {
					cursor: pointer;
					padding: 10px 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
					border-radius: 50px;
					font-size: 15px;
					border: 2px solid $dark-blue;
					&:hover {
						text-decoration: underline;
						color: $dark-blue;
					}
				}
				.img {
					width: 30px;
				}
			}
			.success {
				font-size: 15px;
				color: $yellow;
			}
			.error {
				font-size: 15px;
				color: $dark-red;
			}
		}
		@media (max-width: 1000px) {
			flex-direction: column;
			.left {
				display: none;
			}
			.right {
				width: 100%;
				padding: 0 10px;
				.img1 {
					display: block;
					width: 300px;
					margin: 0 auto;
					padding: 35px 10px;
				}
			}
		}
	}
}

@keyframes slide-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}
